<launch>

<include file="$(find dynamixel_hardware_interface)/launch/controller_manager.launch"/>

<include file="$(find maggie_head_movement)/launch/dynamixels.launch"/>

<include file="$(find maggie_head_movement)/launch/point_head.launch"/>

<include file="$(find maggie_head_movement)/launch/openni.launch"/>

</launch>


